/*
================+/+/+/+/+/+/+/+/+/=================
                    medium
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (min-width: 1200px) and (max-width: 1450px) {
    .v2.welcome_slider_area .owl-nav>.owl-prev,
    .v3.welcome_slider_area .owl-nav>.owl-prev {
        margin-left: -605px;
    }

    .v2.welcome_slider_area .owl-nav>.owl-next,
    .v3.welcome_slider_area .owl-nav>.owl-next {
        margin-right: -605px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .footer_contact {
        padding-left: 14px;
    }
    .about_list>li:nth-child(2n),
    .about_list>li {
        width: 50%;
        margin: 0;
    }
}






/*
================+/+/+/+/+/+/+/+/+/=================
                     tab
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_welcome_slider {
        height: 670px;
    }
    .welcome_slider_area .owl-nav>.owl-next {
        margin-right: -380px;
    }
    .welcome_slider_area .owl-nav>div {
        height: 50px;
        line-height: 50px;
        width: 80px;
    }
    .welcome_slider_area .owl-nav>.owl-prev {
        margin-left: -380px;
    }
    .welcome_slider_area .owl-nav>div.active {
        padding: 0 28px;
    }
    .welcome_content h1 {
        font-size: 40px;
    }
    .welcome_content {
        padding: 0 20%;
    }
    .single_service {
        padding: 0 0 10px;
    }
    .single_testimonial {
        padding: 0 35px;
    }
    .single_team.mb30 {
        margin-bottom: 30px;
    }

    .single_case .hover_content {
        font-size: 13px;
    }
    .single_case:hover .hover_content {
        transform: translateY(-12px) translateX(0px);
    }

    .blog_content>.h4 {
        font-size: 17px;
    }
    .blog_content {
        padding-left: 17px;
    }

    .footer_area h4 {
        font-size: 16px;
    }
    .footer_contact {
        padding-left: 0;
    }
    .home_single_blog .bg_img {
        height: 200px;
    }
    .about_list>li:nth-child(2n) {
        margin-left: 0;
        width: 50%;
    }
    .v2.single_welcome_slider .welcome_content {
        padding-right: 0;
    }

    .v2.welcome_slider_area .owl-nav>div,
    .v3.welcome_slider_area .owl-nav>div {
        margin: 0 4px !important;
        bottom: 0;
        top: auto;
    }
    .v2.about_content {
        padding-right: 0;
    }
    .v2.welcome_slider_area .owl-nav>.owl-prev,
    .v3.welcome_slider_area .owl-nav>.owl-prev {
        transform: translatex(-150%)translatey(-50%);
    }

    .v2.welcome_slider_area .owl-nav>.owl-next,
    .v3.welcome_slider_area .owl-nav>.owl-next {
        transform: translatex(150%)translatey(-50%);
    }


    .v3.welcome_slider_area .welcome_content span {
        padding: 0 29px;
    }

    .welcome_content h1 {
        line-height: 1.3;
    }
    .v3.about_area .about_content {
        padding-top: 0;
    }

    .about_content h3 {
        line-height: 1.3;
    }

    .v3_testimonial_slider .single_testimonial {
        padding: 0 23px;
    }
    .about2_area {
        padding: 100px 0;
    }

    .widget_wraper {
        padding-right: 0;
    }
    .ser_de_img {
        height: 300px;
    }
    .inner_tittle_content {
        padding: 0 87px;
    }
    dl.accordion {
        padding: 0 0;
    }
    .separator {
        height: 40px;
        display: block;
        width: 100%;
    }
    .previews_page_wraper p {
        padding: 0px 58px;
    }

    .previews_page_wraper h1 {
        font-size: 47px;
    }
    .single_demos {
        margin-bottom: 50px;
    }
    .demos_area {
        padding-bottom: 50px;
    }
    .mb50 {
        margin-bottom: 10px;
    }
    a.single_demos.cd {
        margin: 0;
    }
    .about_list>li {
        display: block;
        float: unset;
        width: 100%!important;
    }
    .isotope_menu a {
        font-size: 16px;
    }
    .single_contact_inf {
    margin-top:  10px;
}
}






/*
================+/+/+/+/+/+/+/+/+/=================
                    Mobile menu
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (max-width: 991px) {
    .main_menu {
        display: none;
    }
    .slicknav_menu {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        position: absolute;
        right: 15px;
        top: 7px;
        display: block;
    }
    .slicknav_btn {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        margin: 0;
        padding: 0 4px;
    }
    .slicknav_menu .slicknav_icon-bar {
        height: 3px;
        width: 26px;
    }
    .slicknav_nav {
        background: #01a2d7 none repeat scroll 0 0;
        border-radius: 5px;
        position: absolute;
        right: 0;
        text-align: left;
        top: 24px;
        width: 285px;
    }
    .slicknav_nav a:hover,
    .slicknav_nav .slicknav_row:hover,
    .slicknav_nav .slicknav_row:hover a {
        background: #fff none repeat scroll 0 0;
        border-radius: 0;
        color: #0a9ecf;
    }
    .slicknav_nav a,
    .slicknav_nav .slicknav_row {
        margin: 0;
        padding: 8px 15px;
    }
    .cart_nd_search_bar {
        right: 64px;
        top: 7px;
    }
    .cart_nd_search_bar .search_bar {
        padding-right: 16px;
    }
    .search_bar input {
        left: auto;
        right: 36px;
        top: 26px;
        transform: translateX(-12px);
    }
    a.v2_logo.logo {
        padding: 5px 0;
        height: auto;
    }

    .v2_logo img {
        width: 100%;
        display: block;
    }

    .v2_menu_bar .header_cart span {
        background: #2DCC70;
        color: #fff;
    }

    .v2_menu_bar .header_cart a {
        color: #333;
    }

    .v2_menu_bar .slicknav_menu .slicknav_icon-bar {
        background: #2DCC70;
    }


    .v2_menu_bar .slicknav_nav {
        z-index: 2;
        background: #2DCC70;
        top: 147%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.37);
    }

    .v2_menu_bar .slicknav_nav a:hover,
    .v2_menu_bar .slicknav_nav .slicknav_row:hover,
    .v2_menu_bar .slicknav_nav .slicknav_row:hover a {
        color: #3CD07A;
    }
    .v3.menu_bar .slicknav_nav {
        background: #2ECCA5;
    }

    .v3.menu_bar .slicknav_nav a:hover,
    .v3.menu_bar .slicknav_nav .slicknav_row:hover,
    .v3.menu_bar .slicknav_nav .slicknav_row:hover a {
        color: #2ECCA5;
    }
}





/*
================+/+/+/+/+/+/+/+/+/=================
                    Mobile
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (min-width: 0px) and (max-width: 767px) {
    body {
        font-size: 13px
    }
    .sp {
        padding: 60px 0;
    }
    .spb {
        padding-bottom: 60px;
    }
    .spt {
        padding-top: 60px;
    }

    .search_bar.active input {
        transform: translateY(0px);
    }
    .welcome_content {
        padding: 0;
    }
    .welcome_content>h1 {
        font-size: 31px;
        margin-bottom: 10px;
    }
    a.custom_btn,
    .custom_btn {
        line-height: 40px;
        margin-top: 15px;
    }
    .welcome_content span {
        font-size: 13px;
    }
    .welcome_slider_area .owl-nav>div {
        display: inline-block;
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        margin: 0;
        position: relative;
        transform: translate(0px);
        width: 80px;
    }
    .welcome_slider_area .owl-nav>div:hover,
    .welcome_slider_area .owl-nav>div.active {
        padding: 0 32px;
    }
    .welcome_slider_area .owl-nav {
        bottom: 30px;
        line-height: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 1;
    }
    .welcome_slider_area .owl-nav>.owl-prev,
    .welcome_slider_area .owl-nav>.owl-next {
        left: auto;
        margin: 0;
        right: auto;
    }
    .welcome_slider_area .owl-nav>.owl-prev {
        margin-right: 10px;
    }
    .single_welcome_slider {
        height: 600px;
        padding-top: 0;
    }
    .about_area {
        display: block;
        min-height: auto;
        position: relative;
        z-index: 1;
    }
    .about_img {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        z-index: -1;
    }
    .about_list>li:nth-child(2n) {
        margin-left: 0;
        width: 100%;
    }
    .about_list>li {
        display: block;
        float: none;
        margin-bottom: 5px;
        padding-left: 20px;
        width: 100%;
    }
    .about_list.clearfix span {
        line-height: 1.5;
    }
    .about_list {
        margin-top: 14px;
    }
    .about_img>img {
        height: auto;
        width: 100%;
    }
    .about_img::after {
        background: #fff none repeat scroll 0 0;
        content: "\'";
        height: 100%;
        opacity: 0.95;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .about_list>li:last-child {
        margin-bottom: 0;
    }
    .section_tittle {
        margin-bottom: 40px;
    }
    .section_tittle>h3 {
        font-size: 22px;
        margin-bottom: 7px;
    }
    .single_service {
        margin-bottom: 30px;
    }
    .service_area.spb {
        padding-bottom: 30px;
    }
    .testimonial_slider {
        margin: 0;
        width: 100%;
    }
    .popup_video.testimonial_bg {
        height: 150px;
        margin-bottom: 30px;
        position: relative;
        width: 250px;
    }
    .testimonial_area .play_icon {
        height: 40px;
        width: 50px;
    }
    .single_testimonial {
        padding: 0;
    }
    .testimonial_qutoe {
        font-size: 100px;
        line-height: 0.7;
    }
    .testimonial_meta {
        margin-top: 20px;
    }
    .team_img {
        display: inline-block;
        margin-bottom: 10px;
    }
    .single_team {
        margin-bottom: 30px;
    }
    .team_area.sp {
        padding-bottom: 30px;
    }
    .single_case {
        margin-bottom: 30px;
    }
    .case_area .single_isotope_wraper {
        width: 100%;
    }
    .single_case h3 {
        font-size: 13px;
    }
    .case_area.spb,
    .blog_area.spb {
        padding-bottom: 30px;
    }
    .home_single_blog {
        margin-bottom: 30px;
    }
    .blog_content .h4 {
        font-size: 16px;
    }
    .blog_content {
        padding-left: 15px;
    }
    .blog_area.spb {}
    .cta_area {
        padding: 70px 0;
    }
    .cta_content>h1 {
        font-size: 32px;
    }
    .footer_area {
        padding: 50px 0 30px;
        text-align: center;
    }
    .footer_area .container {
        width: 290px;
    }
    .footer_area h4 {
        margin-bottom: 15px;
    }
    .footer_contetn,
    .footer_menu {
        margin-bottom: 20px;
    }
    .footer_contact {
        padding: 0 19px;
    }


    .v2.about_content {
        margin-bottom: 40px;
        padding-right: 0;
    }

    .about_content h3,
    .skill_tittle h3 {
        font-size: 22px;
        line-height: 1.4;
    }

    .barfiller .tip {
        font-size: 12px;
        bottom: 8px;
    }

    .single_skill p {
        margin-bottom: 10px;
    }

    .single_skill {
        margin-bottom: 20px;
    }

    .about_area.v2.sp {
        padding-bottom: 60px;
    }

    .single_service.v2 {
        text-align: center;
    }



    .v3.welcome_slider_area .welcome_content span {
        padding: 0 0;
    }

    .v3.about_area .about_content {
        padding-top: 0;
        padding-bottom: 20px;
    }

    a.about_bg {
        height: 250px;
    }

    .play_icon {
        width: 63px;
    }
    .v3_testimonial_slider .single_testimonial {
        padding: 0;
    }

    .v3.testimonial_area {
        padding: 60px 0;
    }
    .service_page_area.sp {
        padding: 60px 0 30px;
    }

    .about2_img {
        position: static;
        width: 100%;
        height: 300px;
        max-width: 480px;
        margin: 0 auto;
    }

    .about2_area {
        padding: 60px 0 0;
    }

    .about2_content.padding_left {
        padding: 25px 0 0;
    }

    .about2_content.padding_right {
        padding-right: 0;
        padding-top: 25px;
    }
    .ser_de_img {
        height: 199px;
        margin-bottom: 40px;
    }
    .isotope_menu a {
        line-height: 2;
        font-size: 14px
    }

    .isotope_menu {
        margin-bottom: 40px;
    }

    .case_area.case_study_page {
        padding-bottom: 30px;
    }
    .case_study_bottom_img {
        margin-bottom: 30px;
    }
    .widget_wraper {
        padding-right: 0;
        padding-top: 50px;
    }
    .tp.single_testimonial {
        padding: 40px 10px;
    }
    dl.accordion {
        padding: 0 0;
    }
    .separator {
        height: 40px;
    }
    .style2.accordion dt {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
    }

    .faq_tittle {
        margin-bottom: 40px;
    }
    .gaq_form_wraper {
        padding-left: 0;
        padding-right: 0;
    }

    .gaq_content {
        padding-left: 0;
    }
    .blog_details_img {
        height: 228px;
    }
    form.primary_form {
        margin-bottom: 30px;
    }

    .contact_page.sp {
        padding-bottom: 20px;
    }
    .previews_page_wraper h1 {
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 25px;
    }

    .previews_page_wraper p {
        padding: 0;
    }

    .preview_logo {
        margin-bottom: 40px;
    }

    .previews_page_wraper a.custom_btn {
        padding: 0 18px;
    }

    .section_tittle h1 {
        font-size: 31px;
    }

    a.single_demos {
        margin-bottom: 50px;
    }

    .demos_area {
        padding-bottom: 30px;
    }
}






/*
================+/+/+/+/+/+/+/+/+/=================
                    wid device
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 380px;
    }
    .testimonial_slider {
        margin: 0 auto;
        width: 380px;
    }
    .about2_img {
        max-width: 380px;
        margin: 0 auto;
    }

    .preview_page {
        height: 650px;
    }
}